.logIn-wrap {
    height: 80vh;
    position: relative;
    background-color: white;
}

.button-wrap {
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
}

.navbar-title {
    margin: 0;
}

.search-area .btn-outline-warning:hover {
    color: rgba(0, 0, 0, 0.947);
    font-weight: bold;
}

.page-link {
    background-color: transparent;
}


